.slider-thumb-1 {
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    margin-left: 125px;
    background: rgb(163, 248, 232);
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
    opacity: 50%;
    filter: blur(6px);
}

.slider-thumb-2 {
    position: absolute;
    content: "";
    width: 450px;
    height: 450px;
    margin-left: 300px;
    margin-top: 500px;
    background: rgb(23, 114, 97);
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 4s linear infinite;
    opacity: 50%;
    filter: blur(6px);
}

.slider-thumb-3 {
    position: absolute;
    width: 450px;
    height: 450px;
    margin-left: 430px;
    background: rgb(0, 247, 202);
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 3s linear infinite;
    opacity: 50%;
    filter: blur(6px);
}

@media (max-width:1024px) {
    .slider-thumb-1 {
        position: absolute;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-left: -275px;
        background: rgb(163, 248, 232);
        border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    }

    .slider-thumb-2 {
        position: absolute;
        content: "";
        margin-left: 0px;
        margin-top: 500px;
        background: rgb(23, 114, 97);
        border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
        will-change: border-radius, transform, opacity;
        animation: sliderShape 5s linear infinite;
        display: block;
        z-index: -1;
        -webkit-animation: sliderShape 4s linear infinite;
        opacity: 50%;
        filter: blur(6px);
    }

    .slider-thumb-3 {
        position: absolute;
        margin-top: 0px;
        margin-left: 250px;
        background: rgb(0, 247, 202);
        border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
        will-change: border-radius, transform, opacity;
        animation: sliderShape 5s linear infinite;
        display: block;
        z-index: -1;
        -webkit-animation: sliderShape 3s linear infinite;
        opacity: 50%;
        filter: blur(6px);
    }
}


@keyframes sliderShape {

    0%,
    100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }

    50% {
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}

@media (max-width:500px) {
    .background_div {
        display: flex;
        justify-content: none;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .slider-thumb-1 {
        margin-left: -45%;
        margin-top: 0px;
        width: 250px;
        height: 250px;
        filter: blur(20px);
    }

    .slider-thumb-2 {
        margin-left: 0px;
        margin-top: 300px;
        width: 250px;
        height: 250px;
        filter: blur(20px);
    }

    .slider-thumb-3 {
        width: 250px;
        height: 250px;
        margin-top: 0px;
        margin-left: 50%;
        filter: blur(20px);
    }
}