.nav {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(19, 23, 28);
    padding-top: 25px;
    z-index: 2;
}

.nav .logo {
    position: absolute;
    color: white;
    top: 0;
    padding-top: 5px;
    padding-left: 15px;
    font-size: 35px;
    /* padding: 20px; */
    /* width: 10%; */
}

.nav_options {
    box-sizing: border-box;
    display: flex;
    width: calc(100% - 40px);
    justify-content: center;
    gap: 40px;
    align-items: center;
    text-align: center;
}

.nav_options span {
    color: white;
    padding-bottom: 10px;
}