#logo_layout {
    display: flex;
    color: rgb(220, 251, 241);
    font-weight: 300;
    position: left;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    cursor: pointer;
}

#logo span {
    padding-top: 8px;
    font-size: 35px;
}

#logo p {
    color: rgb(137, 254, 217);
    display: flex;
    font-size: 40px;
    font-weight: 500;
    padding: 0px 5px;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

a {
    text-decoration: none;
}

#nav {
    position: fixed;
    /* box-shadow: 1px 2px 15px 2px; */
    top: 0;
    display: grid;
    grid-template-columns: 7fr 1fr;
    backdrop-filter: blur(50px);
    z-index: 10;
}

#options_layout {
    display: flex;
    gap: 40px;
    margin-right: 60px;
}

#options_layout span {
    display: grid;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    /* transition: 100ms; */
    margin: 20px 0px;
    color: rgb(220, 251, 241);
}

#options_layout span:hover {
    color: rgb(0, 247, 202);
    cursor: pointer;
}

#options_layout a {
    color: rgb(220, 251, 241);
    display: grid;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    /* transition: 100ms; */
    margin: 20px 0px;
}

#options_layout a:hover {
    color: rgb(247, 231, 0);
    cursor: pointer;
}

.nav_icon {
    display: none;
}

@media (max-width:1180px) {
    .nav_icon {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-right: 10px;
    }

    #options_layout {
        display: none;
    }

    .nav_container {
        display: flex;
        width: 100%;
        margin-right: 150px;
    }

    svg {
        cursor: pointer;
    }
}