.nav {
    display: flex;
    position: sticky;
    top: 0;
    background-color: rgb(19, 23, 28);
    padding: 20px;
    z-index: 2;
}

.nav .logo {
    position: absolute;
    color: white;
    top: 0;
    padding-top: 8px;
    padding-left: 15px;
    font-size: 35px;
}

.nav_options {
    box-sizing: border-box;
    display: flex;
    width: calc(100% - 40px);
    justify-content: center;
    gap: 40px;
    align-items: center;
    text-align: center;
}

.nav_options span {
    color: white;
    font-size: 15px;
    transition: 200ms;
    padding: 2px 2px;
    cursor: pointer;
}

.nav_options span:hover {
    transition: 200ms;
    color: rgb(183, 47, 47);
}