.about {
    min-height: 100vh;
    /* background-color: rgb(162, 47, 47); */
    background-color: rgb(26, 32, 45);
    /* background-color: rgb(25, 28, 34); */
}

.about .header_container {
    display: flex;
    justify-content: center;
}

.about .header_container span {
    padding-top: 50px;
    font-size: 75px;
    font-weight: 200;
    color: white;
}

.about_container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 75px;
}

.center {
    display: grid;
    justify-content: center;
    align-items: center;
}

.column {
    justify-content: center;
    display: grid;
    gap: 50px;
}

.coding_info {
    /* background-color: rgb(103, 61, 122); */
    border-style: groove;
    height: 800px;
    width: 800px;
    border-radius: 400px;
    /* flex: 1; */
}

.hobbies_info {
    /* background-color: rgb(103, 61, 122); */
    border-style: groove;
    height: 600px;
    width: 600px;
    border-radius: 300px;
    /* flex: 1; */
}

.music_info {
    background-color: rgb(122, 61, 61);
    border-style: groove;
    height: 400px;
    width: 400px;
    border-radius: 200px;
    /* flex: 1; */
}

.coding_info span,
.hobbies_info span,
.music_info span {
    /* background-color: rgb(86, 47, 105); */
    /* border-bottom: solid 1px white; */
    font-weight: 200;
    border-radius: 20px 20px 0px 0px;
    padding: 10px 0px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: white;
}

.about_coding {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 30px;
}

.about_coding p {
    padding: 0px 100px;
    font-weight: 250;
    font-size: 16px;
    /* font-weight: 800; */
    color: rgb(255, 144, 144);
    letter-spacing: 2px;
}