#about {
    background-color: rgb(25, 31, 41);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

#about-layout {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.about_container {
    position: relative;
    padding-left: 0px;
    width: 600px;
}

#about-font {
    font-size: 25px;
    color: rgb(0, 247, 202);
    padding-bottom: 0px;
    margin: 0px;
}

#about-subfont {
    font-size: 35px;
    color: rgb(23, 114, 97);
    margin: 0px;
}

#portfolio-pic {
    height: 580px;
    width: 500px;
    box-shadow: 0px 0px 10px 2px;
    border-radius: 30px;
}

#about-par {
    color: #d7d7ff;
    padding: 0px 50px 0px 0px;
    font-size: 18px;
    word-spacing: 1px;
    line-height: 1.5;
}

@media (max-width:1180px) {
    #about-layout {
        display: block;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #about {
        min-height: 100vh;
        /* padding: 225px 10% 0px 10%; */
        padding: 11% 10% 0px 10%;
    }

    #portfolio-pic {
        margin-top: 10px;
        height: 570px;
        width: 500px;
        box-shadow: 0px 0px 10px 2px;
        margin-bottom: 100px;
    }

    #about-par {
        padding: 0px 0px 50px 0px;
        font-size: 18px;
        font-family: 'Nunito', sans-serif;
        /* text-align: center; */
    }

    #projects-layout {
        display: block;
    }

    #porfolio-pic-div {
        display: grid;
        justify-content: center;
    }
}

@media (max-width:500px) {
    #about {
        padding: 225px 10px 0px 10px;
    }

    .about-par {
        color: #d7d7ff;
        padding: 0px 0% 50px 0%;
        font-size: 18px;
        /* word-spacing: 1px;
        line-height: 1.5;  */
    }

    .about_container {
        width: auto;
    }

    #portfolio-pic {
        margin-top: 10px;
        height: 80%;
        width: 100%;
        box-shadow: 0px 0px 10px 2px;
        margin-bottom: 100px;
    }
}