#landing {
    background-color: rgb(25, 28, 33);
    /* background-color: rgb(184, 246, 255); */
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

#name_container {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-top: -40px;
    text-align: center;
}

#name_container span {
    color: white;
    font-size: 10.9vw;
    font-weight: 100;
}

#name_container #descrition span {
    font-size: 30px;
    font-weight: 200;
}

.background_div {
    display: grid;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
}

#name_container .hidden {
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.5s ease, transform 0.9s ease;
    pointer-events: none;
}

#name_container .visible {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0.5s ease, transform 0.9s ease;
}

.scroll_container {
    position: absolute;
    top: 85%;
    left: 50%;
}

@media (min-width:1250px) {
    #name_container span {
        color: white;
        font-size: 135px;
        font-weight: 100;
    }

    #name_container .descrition span {
        font-size: 30px;
        font-weight: 200;
    }
}


@media (max-width:800px) {
    #name_container .descrition span {
        font-size: 3.8vw;
    }

}


@media (max-width:500px) {
    .background_div {
        display: flex;
        justify-content: none;
        /* width: 70%; */
        align-items: none;
        text-align: none;
    }

    #name_container span {
        color: white;
        font-size: 10.9vw;
        font-weight: 100;
    }

    #name_container .descrition span {
        font-size: 30px;
    }
}