#skills {
    min-height: 100vh;
    background-color: rgb(25, 31, 41);
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

#skills-font {
    padding-left: 1%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(0, 247, 202);
    padding-bottom: 0px;
    margin: 0px;
}

#skills-subfont {
    padding-bottom: 10px;
    padding-left: 1%;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: rgb(23, 114, 97);
    padding-bottom: 10px;
    margin: 0px;
    margin-bottom: 15px;
}

#skills-layout {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.skill {
    display: grid;
    justify-content: center;
}

.skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    width: 200px;
    height: 100px;
    box-shadow: 0px 0px 10px 1px;
}

.skill-container .img_container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.skill_font_container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.skill-img {
    height: 70px;
    width: 70px;
}

@media (max-width:1180px) {
    #skills-font {
        padding-top: 100px;
        padding-left: 10px;
    }

    #skills-subfont {
        padding-left: 10px;
    }

    #skills-layout {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        margin: 0px;
    }

    .skill-container {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        background-color: white;
        border-radius: 10px;
        width: 390px;
        height: 200px;
        box-shadow: 0px 0px 10px 1px;
    }

    .skill-img {
        height: 125px;
        width: 125px;
    }

    .skill {
        font-size: 25px;
    }
}

@media (max-width:840px) {
    .skill-container {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        background-color: white;
        border-radius: 10px;
        width: 100%;
        height: 110%;
        box-shadow: 0px 0px 10px 1px;
    }

    .skill-img {
        height: 85%;
        width: 85%;
    }

    #skills-layout {
        grid-template-columns: 1fr 1fr;
        padding-right: 20px;
        gap: 3%;
    }

    #skills-font {
        padding-top: 0px;
        padding-left: 10px;
    }

    #skills-layout {
        margin-bottom: 300px;
    }

    .skill {
        font-size: 3vw;
    }
}